.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.log-cart{
  height: 1.5em;
    width: 1.5em;
}

.hyper-link-remover {
  text-decoration: none;
}

.disabled {
  color: #B6B4B4;
}

.header-color {
  color: #066bd6;
}

.margin-top-list {
  margin-top: 1em;
  padding-left: 2em;
}

.product-img{
  height: 14.5em;
  width: 17.5em;
}
